#homeHeader {
  background-image: url("../images/header.jpg");
  width: 100%;
  font-family: AzAgenda; }
  #homeHeader #b {
    background-color: #de85a1;
    margin: 5.5% 0% 0% 72%;
    padding: 11px;
    font-size: 18px;
    color: white;
    border: none; }
  #homeHeader img {
    margin: 7.5%  0% 0% 36.9%;
    width: 25.7%; }
  #homeHeader h4 {
    width: 72%;
    margin: 2% 13% 0% 13%;
    color: white; }
  #homeHeader #a {
    background-color: #4da6ff;
    margin: 11.5% 0% 9% 41%;
    font-size: 18px;
    padding: 19px 50px;
    color: white;
    border: none; }

#homeForm {
  width: 100%;
  background-color: #ffe6ff;
  position: relative;
  font-family: AzAgenda; }
  #homeForm h1 {
    text-align: center;
    margin-top: 3%; }
  #homeForm select, #homeForm input {
    width: 100%;
    height: 40px;
    padding: 8px; }
  #homeForm img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; }
  #homeForm #row {
    margin-left: 13%;
    margin-bottom: 12%;
    margin-top: 8%;
    padding: 2px;
    margin-right: -15px; }
  #homeForm input {
    background-color: #4da6ff;
    color: white;
    border: none; }

#homeSlider {
  background-image: url("../images/usaqlar.png");
  height: 580px;
  width: 100%;
  position: relative;
  font-family: AzAgenda; }
  #homeSlider img {
    width: 100%;
    height: 100%; }
  #homeSlider h2 {
    position: absolute;
    top: 4%;
    left: 40%; }
  #homeSlider #sliderHome {
    position: absolute;
    top: 25%;
    left: 7%; }
  #homeSlider #a {
    background-color: #fff;
    height: 40%;
    width: 100%;
    margin-top: -20px;
    padding: 10px;
    color: black; }

#footer {
  width: 100%;
  height: 1.7in;
  background: #215cb5; }
  #footer #radiusluadd {
    background: #de85a1;
    height: 1.7in;
    width: 30%;
    border-radius: 0px 170px 0px 0px;
    float: left;
    margin-left: -15px; }
  #footer img {
    width: 50%;
    height: 30%;
    margin-left: 25%;
    margin-top: 15%; }
  #footer #list {
    padding: 6.18%; }
  #footer li {
    float: left;
    margin-left: 55px; }
  #footer li a {
    color: white;
    font-family: AzAgenda;
    font-size: 18px; }

#header {
  background-image: url("../images/header.jpg");
  width: 100%;
  height: 243px; }
  #header img {
    width: 30%;
    margin-left: 36%;
    margin-top: 4%; }

#addAdding h1, #addAdding h5 {
  margin-top: 2%;
  text-align: center; }
#addAdding form {
  margin: 7% 12%;
  background: #e6eeff;
  border: 1px solid #b7b795;
  padding-left: 10%;
  padding-top: 4%; }
  #addAdding form #formadd {
    margin: 4%; }
  #addAdding form select {
    width: 50%;
    height: 0.6in;
    padding: 20px; }
  #addAdding form input {
    width: 70%;
    height: 0.55in; }
  #addAdding form #submit {
    background-color: #de85a1; }
  #addAdding form label {
    font-size: 18px; }

#aboutRow {
  padding: 5%; }
  #aboutRow select, #aboutRow input {
    width: 15%;
    height: 40px;
    margin: 6px;
    padding: 8px;
    font-family: AzAgenda; }
  #aboutRow input {
    background-color: #215cb5; }

#aboutInf {
  width: 90%;
  border: 2px solid #a1c4c4;
  margin: 5%;
  padding: 4%;
  background: #eff5f5;
  font-family: AzAgenda; }
  #aboutInf #photo {
    width: 80%;
    border: 1px solid #588d8d;
    background: #629d9d;
    height: 280px;
    margin: 60px; }

#map {
  margin-bottom: 45px;
  border: 2px solid white; }
  #map #mapInfo {
    border-bottom: 5px solid #de85a1; }
    #map #mapInfo img {
      width: 100px;
      height: 99px;
      float: left;
      margin: 16px 25px; }
    #map #mapInfo h4, #map #mapInfo a {
      margin-top: 16px;
      font-family: AzAgenda; }
  #map #mapMap {
    margin-left: -15px; }

/*# sourceMappingURL=stil.css.map */
